body {
    font-family: Tw Cen MT,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    
}


img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */
.positief {
    color: green;
}
.negatief {
    color: red;
}

.test {
    background-color: red;
    padding:20px 50px;
    font-size: 45px;
}
#verzend {
    width: 20%;
    height: 20%;
    
}
#scroll {
margin-left: 50px;

}

#pijl {
    width: 50%;
    height: 50%;
}
body {
background-color: #54CF9A
} 

.paragraaf {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding:50px;
}
h2,h1,h3 {
    color: white;
}
